<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiKey</key>
	<string>2e8bbe43fe8bf13f413051ed0c76121d</string>
	<key>language</key>
	<string>en</string>
	<key>timeoutIntervalForRequestsInSeconds</key>
	<integer>30</integer>
</dict>
</plist>
